.sidebar {
  width: 30%;
  float: right;
  background-color: rgb(193, 193, 255);
  border: solid black;
  border-width: 20 px;
  padding: 30px;
  margin-bottom; 10 px;
}

img {
  float: left;
}

.box1 {
  padding: 100px;
}

